Test-Command: debian/tests/utils-test censuslookup
Features: test-name=utils-censuslookup

Test-Command: debian/tests/utils-test regconcat
Features: test-name=utils-regconcat

Test-Command: debian/tests/utils-test regconvert
Features: test-name=utils-regconvert

Test-Command: debian/tests/utils-test regfiledump
Features: test-name=utils-regfiledump

Test-Command: debian/tests/utils-test regfiletype
Features: test-name=utils-regfiletype

Test-Command: debian/tests/utils-test retriangulate
Features: test-name=utils-retriangulate

Test-Command: debian/tests/utils-test trisetcmp
Features: test-name=utils-trisetcmp

Test-Command: debian/tests/python-test alltypes
Features: test-name=python-alltypes

Test-Command: debian/tests/python-test constructors
Features: test-name=python-constructors

Test-Command: debian/tests/python-test embeddings
Features: test-name=python-embeddings

Test-Command: debian/tests/python-test equality
Features: test-name=python-equality

Test-Command: debian/tests/python-test euler
Features: test-name=python-euler

Test-Command: debian/tests/python-test facenumbering
Features: test-name=python-facenumbering

Test-Command: debian/tests/python-test file python/testsuite
Features: test-name=python-file

Test-Command: debian/tests/python-test generic
Features: test-name=python-generic

Test-Command: debian/tests/python-test groups
Features: test-name=python-groups

Test-Command: debian/tests/python-test hypersurfaces
Features: test-name=python-hypersurfaces

Test-Command: debian/tests/python-test i18n python/testsuite
Features: test-name=python-i18n

Test-Command: debian/tests/python-test integer
Features: test-name=python-integer

Test-Command: debian/tests/python-test iterators
Features: test-name=python-iterators

Test-Command: debian/tests/python-test listener
Features: test-name=python-listener

Test-Command: debian/tests/python-test memory1
Features: test-name=python-memory1

Test-Command: debian/tests/python-test memory2
Features: test-name=python-memory2

Test-Command: debian/tests/python-test memory3
Features: test-name=python-memory3

Test-Command: debian/tests/python-test misc
Features: test-name=python-misc

Test-Command: debian/tests/python-test orb python/testsuite
Features: test-name=python-orb

Test-Command: debian/tests/python-test pdf python/testsuite
Features: test-name=python-pdf

Test-Command: debian/tests/python-test safeheldtype_basic
Features: test-name=python-safeheldtype_basic

Test-Command: debian/tests/python-test safeheldtype_packet
Features: test-name=python-safeheldtype_packet

Test-Command: debian/tests/python-test skeleton
Features: test-name=python-skeleton

Test-Command: debian/tests/python-test surfaces
Features: test-name=python-surfaces

Test-Command: debian/tests/python-test trigeneral
Features: test-name=python-trigeneral

Test-Command: debian/tests/python-test utf8
Features: test-name=python-utf8
