Test-Command: debian/tests/utils-test censuslookup
Features: test-name=utils-censuslookup
Depends: @, bsdextrautils

Test-Command: debian/tests/utils-test regconcat
Features: test-name=utils-regconcat
Depends: @, bsdextrautils

Test-Command: debian/tests/utils-test regconvert
Features: test-name=utils-regconvert
Depends: @, bsdextrautils

Test-Command: debian/tests/utils-test regfiledump
Features: test-name=utils-regfiledump
Depends: @, bsdextrautils

Test-Command: debian/tests/utils-test regfiletype
Features: test-name=utils-regfiletype
Depends: @, bsdextrautils

Test-Command: debian/tests/utils-test retriangulate
Features: test-name=utils-retriangulate
Depends: @, bsdextrautils

Test-Command: debian/tests/utils-test sigcensus
Features: test-name=utils-sigcensus
Depends: @, bsdextrautils

Test-Command: debian/tests/utils-test tricensus
Features: test-name=utils-tricensus
Depends: @, bsdextrautils

Test-Command: debian/tests/utils-test trisetcmp
Features: test-name=utils-trisetcmp
Depends: @, bsdextrautils

Test-Command: debian/tests/python-test alltypes
Features: test-name=python-alltypes

Test-Command: debian/tests/python-test angles
Features: test-name=python-angles

Test-Command: debian/tests/python-test bool
Features: test-name=python-bool

Test-Command: debian/tests/python-test bytes
Features: test-name=python-bytes

Test-Command: debian/tests/python-test callbacks
Features: test-name=python-callbacks

Test-Command: debian/tests/python-test census
Features: test-name=python-census

Test-Command: debian/tests/python-test clone
Features: test-name=python-clone

Test-Command: debian/tests/python-test constructors
Features: test-name=python-constructors

Test-Command: debian/tests/python-test discs
Features: test-name=python-discs

Test-Command: debian/tests/python-test embeddings
Features: test-name=python-embeddings

Test-Command: debian/tests/python-test enumerate
Features: test-name=python-enumerate

Test-Command: debian/tests/python-test equality
Features: test-name=python-equality

Test-Command: debian/tests/python-test euler
Features: test-name=python-euler

Test-Command: debian/tests/python-test exception
Features: test-name=python-exception

Test-Command: debian/tests/python-test facenumbering
Features: test-name=python-facenumbering

Test-Command: debian/tests/python-test faces
Features: test-name=python-faces

Test-Command: debian/tests/python-test file python/testsuite
Features: test-name=python-file

Test-Command: debian/tests/python-test generic
Features: test-name=python-generic

Test-Command: debian/tests/python-test groups
Features: test-name=python-groups

Test-Command: debian/tests/python-test hypersurfaces
Features: test-name=python-hypersurfaces

Test-Command: debian/tests/python-test i18n python/testsuite
Features: test-name=python-i18n

Test-Command: debian/tests/python-test id
Features: test-name=python-id

Test-Command: debian/tests/python-test index
Features: test-name=python-index

Test-Command: debian/tests/python-test integer
Features: test-name=python-integer

Test-Command: debian/tests/python-test iterators
Features: test-name=python-iterators

Test-Command: debian/tests/python-test listener
Features: test-name=python-listener

Test-Command: debian/tests/python-test listview
Features: test-name=python-listview

Test-Command: debian/tests/python-test lookup
Features: test-name=python-lookup

Test-Command: debian/tests/python-test memory1 python/testsuite
Features: test-name=python-memory1

Test-Command: debian/tests/python-test memory2
Features: test-name=python-memory2

Test-Command: debian/tests/python-test memory3
Features: test-name=python-memory3

Test-Command: debian/tests/python-test misc
Features: test-name=python-misc

Test-Command: debian/tests/python-test operators
Features: test-name=python-operators

Test-Command: debian/tests/python-test orb python/testsuite
Features: test-name=python-orb

Test-Command: debian/tests/python-test pdf python/testsuite
Features: test-name=python-pdf

Test-Command: debian/tests/python-test perm
Features: test-name=python-perm

Test-Command: debian/tests/python-test presentations
Features: test-name=python-presentations

Test-Command: debian/tests/python-test refs
Features: test-name=python-refs

Test-Command: debian/tests/python-test repr python/testsuite
Features: test-name=python-repr

Test-Command: debian/tests/python-test safeheldtype_basic
Features: test-name=python-safeheldtype_basic

Test-Command: debian/tests/python-test safeheldtype_packet
Features: test-name=python-safeheldtype_packet

Test-Command: debian/tests/python-test sets
Features: test-name=python-sets

Test-Command: debian/tests/python-test skeleton
Features: test-name=python-skeleton

Test-Command: debian/tests/python-test snappea
Features: test-name=python-snappea

Test-Command: debian/tests/python-test snapshot
Features: test-name=python-snapshot

Test-Command: debian/tests/python-test sort
Features: test-name=python-sort

Test-Command: debian/tests/python-test standardtri
Features: test-name=python-standardtri

Test-Command: debian/tests/python-test surfaces
Features: test-name=python-surfaces

Test-Command: debian/tests/python-test swapping
Features: test-name=python-swapping

Test-Command: debian/tests/python-test tightencode
Features: test-name=python-tightencode

Test-Command: debian/tests/python-test treedecomp
Features: test-name=python-treedecomp

Test-Command: debian/tests/python-test treetraversal
Features: test-name=python-treetraversal

Test-Command: debian/tests/python-test trigeneral
Features: test-name=python-trigeneral

Test-Command: debian/tests/python-test utf8
Features: test-name=python-utf8

