FROM base/opensuse:RELARCH

# Install some things that will be helpful:
RUN zypper refresh
RUN zypper dist-upgrade -y
RUN zypper install -y --no-recommends vim
RUN zypper clean

# Add Regina's repository:
ADD regina-gen-opensuse /regina-gen
ADD regina-key.asc /regina-key.asc
RUN /regina-gen RELEASE; rm /regina-gen /regina-key.asc
RUN zypper update

# Create an ordinary user:
RUN useradd -U -s /bin/bash -m user
